<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>Navbar</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="#">
      
      <img src="https://www.pngmart.com/files/22/Mercedes-Benz-SL-Class-PNG-Pic.png"
      style="width: 75px;" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          
          <a class="nav-link" href="{% url 'home' %}" style="color:#000000"><b>Home</b></a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link" href="{% url 'service' %}" style="color:#000000"><b>Services</b></a>
        </li>
       
      </ul>

      <!-- Right aligned nav items -->
      {% comment %} <form class="form-inline my-2 my-lg-0 ml-auto">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form> {% endcomment %}

      <ul class="navbar-nav ml-auto">
        {% comment %} <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lang
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="langDropdown">
            <a class="dropdown-item" href="#">EN</a>
            <a class="dropdown-item" href="#">ES</a>
            <a class="dropdown-item" href="#">RU</a>
            <a class="dropdown-item" href="#">FA</a>
          </div>
        </li>
         {% endcomment %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="https://cdn-icons-png.flaticon.com/512/666/666201.png" style="width: 25px;" alt="logo"/>
            
          </a>
          
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{% url 'dashboard' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
            <a class="dropdown-item" href="{% url 'myorder' %}">Order Details</a>

          </div>
        </li>
      </ul>
    </div>

  </nav>

  <!-- Add your content here -->

</body>
</html>
