<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Login Page</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Stylesheet-->
    <style>
        .gradient-custom-2 {
        
            
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, #87CEEB, #00BFFF);
            }
            
            @media (min-width: 768px) {
            .gradient-form {
            height: 100vh !important;
            }
            }
            @media (min-width: 769px) {
            .gradient-custom-2 {
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
            }
            }

      </style>
</head>
<body>

    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <!-- Form on the left -->
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
                      <form method="post">
                        <div class="form-outline mb-4">
                        <h3>Login Here</h3></div>
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                          <label class="form-label" for="email">Email Address</label>
                          <input type="email" id="email" name="email" class="form-control" placeholder=" Email address" />
                        </div>
      
                        <div class="form-outline mb-4">
                          <label class="form-label" for="password">Password</label>
                          <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                        </div>
                        
                        <div class="text-center pt-1  ">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log in
                          </button>
                          {% for message in messages %}
                          {{message}}
                          {% endfor %}
                        </div>
                          <hr></hr>
                        <div class="text-center pt-1 mb-5 pb-1">
                         <a href="{% url 'loginwithotp' %}">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Log in
                            with otp</button></a>
                          <a class="text-muted" href="{% url 'forgotpass' %}">Forgot password?</a>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2"><a href="{% url 'signup' %}">Don't have an account?</a></p>
                        </div>
                      </form>
                    </div>
                  </div>
      
                  <!-- Text on the right -->
                  <div class="col-lg-6  align-items-center gradient-custom-2">
                    <div class="text-center " style="padding:6vh">
                        
                        <img src="https://www.pngmart.com/files/22/Mercedes-Benz-SL-Class-PNG-Pic.png"
                          style="width: 185px;" alt="logo">
                        <h4 class="mt-1 mb-4 pb-1 text-white">RainbowSplash Car Wash</h4>
                      </div>
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">Revitalize, Renew, and Revel in the beauty of your car!</h4>
                      <p>Experience the RainbowSplash difference and witness your vehicle transform into a head-turning masterpiece. Your car deserves the best, and we're here to deliver!.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>
